In [1]:
# Import required libraries

%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import yfinance as yf

In [2]:
# Get data from the yahoo finance API

# read in the data using the yahoo finance API
name = (input("Enter ticker of your choice"))
data = yf.download(name, start="2020-01-01", end="2023-01-01")
data

Enter ticker of your choice nflx

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2020-01-02,326.100006,329.980011,324.779999,329.809998,329.809998,4485800
2020-01-03,326.779999,329.859985,325.529999,325.899994,325.899994,3806900
2020-01-06,323.119995,336.359985,321.200012,335.829987,335.829987,5663100
2020-01-07,336.470001,336.700012,330.299988,330.750000,330.750000,4703200
2020-01-08,331.489990,342.700012,331.049988,339.260010,339.260010,7104500
...,...,...,...,...,...,...
2022-12-05,316.459991,322.769989,310.920013,312.589996,312.589996,8423000
2022-12-06,311.000000,313.220001,303.130005,305.559998,305.559998,7195400
2022-12-07,306.500000,309.609985,302.100006,308.420013,308.420013,7821600
2022-12-08,309.109985,312.380005,304.809998,310.260010,310.260010,7198500
2022-12-09,321.450012,329.000000,319.519989,324.890015,324.890015,10603488

In [ ]:
data.isnull().sum()

In [ ]:
data.info()

In [ ]:
# The z-score is the number of standard deviations a value is away from it’s mean. 
# It’s a great way to summarize where a value lies on a distribution.

# The math is simple:
# (value – average value) / standard deviation of values

def z_score(chunk):
    """
    This function accepts a chunk of data. 
    Then it takes the last value from the chunk, 
    subtracts the mean (average), and divides by 
    the standard deviation.
    The [-1] means "take the last value from the chunk"
    """
    return (chunk[-1] - chunk.mean()) / chunk.std()

In [ ]:
# Create the rolling z-score using the closing price and apply the rolling function to it. 
# The job of rolling is to take 30 rows of data and apply the z_score function to those rows. 
# Then move forward one row, and do it again.
rolled = data["Close"].rolling(window=30).apply(z_score)

In [ ]:
# plot the z-score over time
rolled.plot(title=f'{name}Z-score overtime');

# Save the figure.
plt.savefig(f"./Images/{name}ZScorePlot.jpg")

In [ ]:
# plot a histogram
rolled.hist( bins=20);

# Save the figure.
plt.savefig(f"./Images/{name}ZScoreHistogram.jpg")

You can see a large negative z-score of -4.4. This is a -4.4 standard deviation move in the stock price! It corresponds to the -35% drop in NFLX on 20 April 2022

In [ ]:
# Rolling minimum return over a rolling 30-day period.
# calculate the daily percentage change on the closing price
# apply the min function to the rolling window of data.

min_pct_change = (
    data
    .Close
    .pct_change()
    .rolling(window=30)
    .min()
)

In [ ]:
# plot
min_pct_change.plot(title=f'{name} Min Pct Change');

# Save the figure
plt.savefig(f"./Images/{name}minPctChange.jpg")

In [ ]:
# histogram
min_pct_change.hist(bins=20);

# Save the figure.
plt.savefig(f"./Images/{name}minPctChangeHistogram.jpg")

You can see Netflix has had a couple of pretty bad days!